.follow{
    width: 100%;
    background-color: #f5f6f7;
    padding: 80px 0 40px;
}

.follow_head{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 40px;
}

.follow_head h2{
    font-size: 42px;
    font-weight: #121212;
    font-weight: 700;
    line-height: 1.2;
}

.follow_head span{
    background-color: #fc6f5c;;
    margin-left: -5px;
    padding: 0px 5px;
    color: #fff;
    border-radius: 5px;
}

.follow_content{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.follow_content a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(20% - 10px);
    margin: 5px;
    padding: 15px;
    text-decoration: none;
    font-size: 15px;
}

.follow_content a span{
    margin-left: 5px;
}

.follow_content i{
    font-size: 24px;
}

.follow_content a:nth-child(1){
    border: 1px solid #1778f2;
    border-radius: 5px;
    color: #1778f2;
    transition: .4s;
}

.follow_content a:nth-child(1):hover{
    background-color: #1778f2;
    color: #fff;
}

.follow_content a:nth-child(2){
    border: 1px solid #833ab4;
    border-radius: 5px;
    color: #833ab4;
    transition: .4s;
}

.follow_content a:nth-child(2):hover{
    background-color: #833ab4;
    color: #fff;
}

.follow_content a:nth-child(3){
    border: 1px solid #0057ff;;
    border-radius: 5px;
    color: #0057ff;
    transition: .4s;
}

.follow_content a:nth-child(3):hover{
    background-color: #0057ff;
    color: #fff;
}

.follow_content a:nth-child(4){
    border: 1px solid #ff0000;
    border-radius: 5px;
    color: #ff0000;
    transition: .4s;
}

.follow_content a:nth-child(4):hover{
    background-color: #ff0000;
    color: #fff;
}

.follow_content a:nth-child(5){
    border: 1px solid #1d9bf0;
    border-radius: 5px;
    color: #1d9bf0;
    transition: .4s;
}

.follow_content a:nth-child(5):hover{
    background-color: #1d9bf0;
    color: #fff;
}

@media(max-width:1000px){
    .follow_content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .follow_content a{
        width: calc(50% - 20px);
    }
}

@media(max-width:500px){
    .follow_content a{
        width: 100%;
    }
    .follow_head h2{
        font-size: 30px;
    }
}