
.home{
    background: url("../../img/backgound_img.jpg") rgba(0, 0, 0, 0.7);
    background-repeat: no-repeat;
    /* object-fit: cover; */
    /* background-size: 100%; */
    background-position: 50% 0;
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed; 
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home_item1 h2{
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    margin: 0 0 20px;
    text-align: center;
}

.home_item2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.home_item2 span{
    width: 2px;
    height: 60px;
    background-color: #fff;
    font-size: 60px;
    color: #fff;
    padding: 0 0 10px;
    margin-left: 5px;
    animation: flashing 1s infinite;
}

.h2_developer{
    font-size: 60px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.home_item3 h3{
    font-size: 20px;
    color: #fff;
    font-weight: 300;
    margin: 0 0 20px;
    text-align: center;
}
.home_item4{
    display: flex;
    justify-content: center;
}

.home_item4 a{
    font-size: 16px;
    background-color: #FC6F5C;;
    padding: 10px 40px;
    text-decoration: none;
    color: #fff;
    line-height: 2;
    border-radius: 5px;
    transition: .4s;
}

.home_item4:hover a{
    background-color: rgb(218 61 39);
}

.icon{
    display: flex;
    justify-content: center;
    margin: 50px 0px 40px 0px;
    position: relative;
    animation: icon-running 2s infinite;
}

.icon img{
    filter: invert(1);
    background-color: #767877;
    border-radius: 48px;
}

@keyframes icon-running{
    from{
        top: -20px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}

@keyframes flashing{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media(max-width: 450px){
    .home_item1 h2{
        font-size: 20px;
    }
    .home_item2 h2{
        font-size: 40px;
    }
    .home_item3 h3{
        font-size: 15px;
    }
}
