.portfolio_main{
    padding: 80px 0 40px;
}
.portfolio_top{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 40px;
}

.portfolio_top h2{
    font-size: 42px;
    font-weight: #121212;
    font-weight: 700;
    line-height: 1.2;
}

.portfolio_top span{
    background-color: #fc6f5c;;
    margin-left: -5px;
    padding: 0px 5px;
    color: #fff;
    border-radius: 5px;
}

.portfolio{
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
}

.portfolio_content{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-item{
    width: calc(33.33% - 30px);
    position: relative;
    transition: .4s;
}

.portfolio-item:not(:nth-child(2)):not(:nth-child(3)):before{
    content: "+";
    font-size: 40px;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    left: 47%;
    color: #fc6f5c;
    transition: .4s;
    opacity: 0;
}

.portfolio-item:hover:not(:nth-child(2)):not(:nth-child(3)):before{
    bottom: 50%;
    opacity: 1;
    z-index: 10;
}

.portfolio-item::after{
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 48px);
    left: 0;
    bottom: 48px;
    background: rgba(0,0,0,0.8);
    transition: 0.4s;
    opacity: 0;
}

.portfolio-item:hover::after{
    opacity: 1;
}

.portfolio-item img{
    width: 100%;
}

.portfolio-item p{
    text-align: center;
    background-color: #343a40;
    width: 100%;
    margin: 0;
    padding: 15px 0;
    color: #fff;
    cursor: pointer;
    transition: .4s;
}

.portfolio-item:hover p{
    background-color: #fc6f5c;
}

.portfolio_buttons{
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 50px;
}

.portfolio_buttons p{
    padding: 10px;
    border: 1px solid rgba(173, 181, 189, 0.4);
    margin: 0 5px;
    transition: .4s;
    cursor: pointer;
    background-color: #fff;
}

.portfolio_buttons p:hover{
    background-color: #fc6f5c;
    color: #fff;
}
